<nav>
    <ul>
        <li>
            <NavLink href="" Match="NavLinkMatch.All">Homepage</NavLink>
        </li>
        <li>
            <NavLink href="upcoming">Upcoming Games</NavLink>
        </li>

        <li class="dropdown">

            <span class="dropdown-toggle">Best of Genres</span>

            <ul class="dropdown-menu">
                <li><NavLink href="genres/action">Action</NavLink></li>
                <li><NavLink href="genres/indie">Indie</NavLink></li>
                <li><NavLink href="genres/adventure">Adventure</NavLink></li>
                <li><NavLink href="genres/role-playing-games-rpg">RPG</NavLink></li>
                <li><NavLink href="genres/strategy">Strategy</NavLink></li>
                <li><NavLink href="genres/shooter">Shooter</NavLink></li>
                <li><NavLink href="genres/simulation">Simulation</NavLink></li>
                <li><NavLink href="genres/arcade">Arcade</NavLink></li>
                <li><NavLink href="genres/platformer">Platformer</NavLink></li>
                <li><NavLink href="genres/massively-multiplayer">MMO</NavLink></li>
                <li><NavLink href="genres/racing">Racing</NavLink></li>
                <li><NavLink href="genres/sports">Sports</NavLink></li>
                <li><NavLink href="genres/fighting">Fighting</NavLink></li>
            </ul>
        </li>
    </ul>
</nav>