@inject RawgApiService RawgApi
@page "/"

<PageTitle>Home</PageTitle>

@if (games == null)
{
    <p>Loading Games</p>
}else{
    <div class="game-grid">
        @foreach(var game in games)
        {            
            <GameCard Game="game"/>
        }
    </div>
    
}

@code{
    List<Game> games;
    protected override async Task OnInitializedAsync()
    {
        games = await RawgApi.GetPopularGamesAsync();
    }
}